@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<AuthorizeView>
    <h2>Hello There!</h2>
</AuthorizeView>
